html {
    scroll-behavior: smooth;
}

@font-face{
    font-family: 'YourFont';
    src: url('TrumpGothicPro.woff');
}

body {
    margin: 0;
    font-family: 'Source Sans 3', sans-serif;
}

header{
    width: 100%;
    height: 100vh;
    background: url(../Images/cover.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed
}


#aboutheader{
    width: 100%;
    height: 90vh;
    background: url(../Images/aboutCover2.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed
}

#destCover{
    width: 100%;
    height: 90vh;
    background: url(../Images/destCover2.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed
}

#travelCover{
    width: 100%;
    height: 90vh;
    background: url(../Images/travelcover.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed
}

#contactHeader{
    width: 100%;
    height: 100vh;
    background: url(../Images/contactcoverr.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed
}

.logo{
    position: fixed;
    float: left;
    margin: 6px 50px;
    
}

nav{
    background-color: rgba(0,0,0,0);
    position: fixed;
    width: 100%;
    transition: background-color 0.5s;
}

.sticky {
    background-color: #fcfcfc;
    color: black;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
}

.changing-link {
    color: #ffffff;
    transition: color 0.5s ease;

}

nav ul {
    list-style: none;
    overflow: hidden;
    color: white;
    text-align: center;
}

nav ul li{
    display: inline-block;
    padding: 15px;
}

nav ul li a{
    text-decoration: none;
    font-size: 18px;
    text-transform: uppercase;
    letter-spacing: 2px;
}

nav ul li a:hover {
    color: grey;

}

.title{
    font-family: 'YourFont', sans-serif;
    font-size: 100px;
    color: white;
    margin: 0;
    text-align: center;
    padding-top: 300px;
    text-transform: uppercase;
    letter-spacing: 10px;
}

.littleTitle{
    font-family: 'Heebo', sans-serif;
    font-size: 15px;
    color: white;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 3px;
    margin: 0;
}

section{
    margin-top: 120px;
    margin-left: 80px;
    margin-right: 80px;
}

#signup{
    width: 150px;
    height: 65px;
    font-size: 12px;
    font-family: 'Heebo', sans-serif;
    border: none;
    border-radius: 2px;
    text-decoration: none;
    color: grey;
    text-transform: uppercase;
    letter-spacing: 2px;
}

#signup:hover {
    background-color: rgba(255, 255, 255, 0.656);
}

p{
    font-family: 'Heebo', sans-serif;
    font-size: 20px;
    text-align: justify;    
}

hr{
    width: 40%;
    
}

.intro{
    width: 100%;
    height: 60vh;

}

.introImage{
    width: 40%;
    display: inline-block;
    
}

.text{
    width: 50%;
    display: inline-block;
}

.heading{
    font-family: 'YourFont', sans-serif;
    font-weight: 400;
    text-transform: uppercase;
    font-size: 45px;
    margin: 0;
    letter-spacing: 2px;

}

.heading2{
    font-family: 'YourFont', sans-serif;
    text-transform: uppercase;
    font-weight: 400;
    font-size: 60px;
    margin: 0;
    letter-spacing: 5px;
    color: white;
    text-align: center;
}

.littleHeading{
    font-size: 18px;
    color: white;
    text-align: center;
    font-family: 'heebo', sans-serif;
    letter-spacing: 4px;
    text-transform: uppercase;
    margin: 2px;
}

.Button{
    width: 150px;
    height: 50px;
    border: 2px solid #ff9b43;
    font-family: 'heebo', sans-serif;
    text-transform: uppercase;
    background-color: rgb(255, 255, 255);
    letter-spacing: 1px;
    color: #FF7900;
    border-radius: 3px;
}

.Button:hover{
    border: none;
    background-color: #FF7900;
    color: white;
}

#destinationCover{
    width: 100%;
    height: 80vh;
    background: url(../Images/destCover.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;

}

.text1{
    padding-top: 200px;
}

#destButton{
    width: 150px;
    height: 75px;
    font-family: 'heebo', sans-serif;
    text-transform: uppercase;
    letter-spacing: 1px;
    border: none;
    color: grey;
    border-radius: 2px;
}

#destButton:hover{
    background-color: rgba(255, 255, 255, 0.725);
}

.tipsection{
    width: 100%;
    height: 60vh;
}

.tipImage{
    width: 40%;
    display: inline-block;
}

.text2{
    width: 50%;
    display: inline-block;
}

.image{
    border-radius: 3px;

}

footer {
    background-color: #fcfcfc;
    color: white;
    box-shadow: 2px 0px 6px rgba(0, 0, 0, 0.1);

}

.footerContent {
    display: flex;
    justify-content: space-evenly;
    padding: 20px;
}

.footerLogo img {
    width: 150px;
    height: auto;
}

.footerSubscribe {
    width: 400px;
}

.footerSubscribe h3 {
    color: #FF7900;
    font-family: 'heebo', sans-serif;
    font-size: 20px;
    letter-spacing: 3px;
    text-transform: uppercase;
    text-align: center;
    margin-top: 35px;
}

.footerSubscribe form {
    display: flex;
    margin-top: 10px;
}

.footerSubscribe input {
    flex: 1;
    padding: 10px;
    margin-right: 10px;
    border-radius: 2px;
}

.footerSubscribe button {
    background-color: white;
    color: #FF7900;
    padding: 10px;
    border: solid 2px #FF7900;
    border-radius: 2px;
}

.footerSubscribe button:hover {
    background-color: #FF7900;
    color: white;
}

.footerSocial {
    margin-top: 60px;
}

.socialIcon img {
    width: 30px;
    height: 30px;
    margin-right: 10px;
}

.footerText {
    background-color: #f6f5f5;
    padding: 1px;
}

.footerText p {
    text-align: center;
    color: #000000f1;
    font-size: 18px;

}
button{
    cursor: pointer;
}

.space{ 
    margin-top: 120px;
}

.dest1{
    width: 100%;
    margin-bottom: 5vh;
}

.destimg{
    width: 300px;
    display: inline-block;
    padding-right: 20px;
}

.desttext{
    width: 70%;
    display: inline-block;
    vertical-align: top;

}

.dest2{
    width: 100%;
    margin-bottom: 5vh;
}

.destimg2{
    width: 300px;
    display: inline-block;
    padding-right: 20px;
}

.desttext2{
    width: 70%;
    display: inline-block;
    vertical-align: top;

}

.dest3{
    width: 100%;
    margin-bottom: 5vh;
}

.destimg3{
    width: 300px;
    display: inline-block;
    padding-right: 20px;
}

.desttext3{
    width: 70%;
    display: inline-block;
    vertical-align: top;

}
.dest4{
    width: 100%;
    margin-bottom: 5vh;
}

.destimg4{
    width: 300px;
    display: inline-block;
    padding-right: 20px;
}

.desttext4{
    width: 70%;
    display: inline-block;
    vertical-align: top;

}

.dest5{
    width: 100%;
    margin-bottom: 5vh;
}

.destimg5{
    width: 300px;
    display: inline-block;
    padding-right: 20px;
}

.desttext5{
    width: 70%;
    display: inline-block;
    vertical-align: top;

}

#travelContainer {
    text-align: center;
    margin-top: 100px;
    margin-bottom: 40vh;
}

.container {
    width: 30%;
    height: 50px;
    background-color: #e0e0e0;
    border-radius: 10px;
    overflow: hidden; 
    display: inline-block;
    margin: 10px;
    padding: 10px;
    transition: height 1s ease;
}

.container p {
    text-align: center;
}

.container:hover {
    height: 500px;
    background-color: #f0f0f0; 

}

.contactForm{
    padding-top: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 75%;
}

.contactForm form{
    width: 75%;
}

.input-group{
    margin-bottom: 30px;
    position: relative;

}

.contactForm input, textarea{
    width: 100%;
    padding: 10px;
    outline: none;
    border: 1px solid #ffffff;
    color: white;
    background: transparent;
    font-size: 15px;
    box-sizing: border-box;

}

.contactForm label{
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    padding: 10px;
    color: white;
    cursor: text;
    transition: .5s ease ;
    
}

.contactForm button{
    padding: 10px;
    outline: none;
    background: transparent;
    color: white;
    border: 1px solid white;
    cursor: pointer;
    width: 100%;
    text-transform: uppercase;
}

.row{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.row .input-group{
    flex-basis: 49%;
}

.contactSection input:hover ~ label,
.contactSection textarea:hover ~ label,
.contactSection input:valid ~ label,
.contactSection textarea:valid ~ label {
    top: -35px; 
}

.contact{
    width: 20%;
    height: 375px;
    background-color: #0000000f;
    margin-left: 50px;
    margin-top: 50px;
    padding-left: 20px;
}

.travelSec{
    width: 100%;
    margin-bottom: 5vh;
}

.travelImg{
    width: 600px;
    display: inline-block;
    padding-right: 20px;
}

.travelText{
    width: 50%;
    display: inline-block;
    vertical-align: top;

}

@media (max-width: 1350px) {
    
    section{
        margin-left: 60px;
        margin-right: 60px;
    }
    
    header {
        height: 70vh;
    }

    #aboutheader {
        height: 60vh;
    }

    #destCover{
        height: 60vh;
    }

    #travelCover{
        height: 60vh;
    }

    .intro {
        height: auto;
        margin-bottom: 20px;
    }

    .introImage, .text {
        width: 100%;
    }

    .tipsection {
        height: auto;
        margin-bottom: 100px;

    }

    .tipImage, .text2 {
        width: 100%;
    }

    .title {
        font-size: 50px;
        padding-top: 150px;
    }

    .littleTitle {
        font-size: 12px;
    }

    hr{
        width: 60%;
    }

    .heading {
        font-size: 30px;
    }

    .heading2 {
        font-size: 40px;
    }

    .littleHeading {
        font-size: 14px;
    }

    .desttext, .desttext2, .desttext3, .desttext4, .desttext5{
        width: 100%;
    }


}

@media (max-width: 900px){
    
    #logoImage{
        height: 40px;
        width: 80px;
    }

    .logo{
        margin: 0;
        margin-top: 10px;
        margin-left: 20px;
    }

    nav ul li a{
        font-size: 15px;
    }

    nav ul li{
        padding: 5px;
    }

    .footerLogo img{
        width: 125px;
        height: auto;

    }

    .socialIcon img{
        width: 25px;
        height: 25px;
    }


    .footerSubscribe h3{
        font-size: 15px;
    }

    .footerSubscribe{
        width: 40%;
        margin-right: 30px;
    }

    .footerText p{
        font-size: 16px;
    }

    .destimg img, .destimg2 img, .destimg3 img, .destimg4 img, .destimg5 img{
        padding-left: 10px;
        width: 500px;
        height: 500px;
    }
}


